.board-title {
  text-align: center;
  font-size: 3em;
  background: linear-gradient(90deg, #f12711, #4d4dff);
  background-color: #f12711;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.board-footer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
